@using CoffeeClub.Domain.Dtos
@using CoffeeClub.UI.Components.Coffee
@using Microsoft.AspNetCore.Components.Web
@page "/coffee"
@rendermode InteractiveServer
<PageTitle>Coffee</PageTitle>


<h2>Add Coffee</h2>


<AddCoffeeComponent OnCoffeeAdded="RefreshCoffeesAsync"  @rendermode="InteractiveServer"/>

<h1>Coffee List</h1>

<CoffeeTable Coffees="@Coffees" OnDeleteCoffeeW="@(async (id) => await HandleCoffeeDeleted(id))"  @rendermode="InteractiveServer"/>







